/*
h1 {
    background-color: gray;
    color: white;
    
    /* formas de padding */
    
    /* padding: 10px; */
    
    /* padding: 5px 10px 5px 10px; */
    
    /* padding: 5px 10px; */
    
/*
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 

}
*/


body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}


figure {
    
    background-color: #F2EDED;
    border: 1px dotted #ccc;
    text-align:center;
    padding: 0 45px;
    margin: 30px;
    
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 0 45px;
    text-indent: 15px;
    
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;    
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}
